#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #FFEFF5
  
}

#portfolio {
  background-color: ;
}



#handle {
  color: #FF70A6;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* custom styling for nav tabs */

#mytabs .tab-pane {
  border: solid 1px darkgray;
  border-bottom: 0;
  
}

#mytabs .tab-pane #L1 {
  background-color: #FF70A6;
}

#mytabs .tab-pane #L2 {
  background-color: #FF9770;
}

#mytabs .tab-pane #L3 {
  background-color: #70D6FF;
}

#mytabs .tab-pane #L4 {
  background-color: #FFD670;
}